---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/landing/Navbar.astro';
import Hero from '../components/landing/Hero.astro';
import Features from '../components/landing/Features.astro';
import Pricing from '../components/landing/Pricing.vue';
import Faq from '../components/landing/Faq.vue';
import Cta from '../components/landing/Cta.astro';
import Footer from '../components/landing/Footer.astro';
import WebsiteShowcase from '../components/landing/WebsiteShowcase.astro';
---

<Layout title="SonriAndes">
	
	<Navbar />

	<main>
		<Hero />
		
        <Features />

		<WebsiteShowcase />
        
        <Pricing client:visible />
        <Faq client:visible />
        
        <Cta />

	</main>

<Footer />
    
</Layout>